<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Estoque</span>
  <span class="example-spacer"></span>
  <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="categoria()"><mat-icon>list</mat-icon> </button>
  <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="produtos()"><mat-icon>shopping_cart</mat-icon></button>
</mat-toolbar>




<app-ctg *ngIf="catego"></app-ctg>
<app-pdt *ngIf="produto"></app-pdt>
